<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>juice-plan</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="section-body">
    <section id="view-shopping" class="view" hidden></section>
    <section id="view-packing" class="view" hidden></section>
    <section id="view-todo" class="view" hidden></section>
</div>

<footer th:replace="~{fragments/tabbar :: tabbar}"></footer>

<script th:inline="javascript">
    /*<![CDATA[*/
    var CHECK_ITEMS = /*[[${items}]]*/ [];
    /*]]>*/
</script>

<script th:src="@{/js/api.js}"></script>
<script th:src="@{/js/check-list.js}"></script>
<script th:src="@{/js/check.js}"></script>
</body>
</html>
